<% categories.each do |category| %>
  <ul>
    <li><%= category.title %></li>
    <% if category.children.present? %>
      <%= render partial: 'category_tree_for_index', locals: { categories: category.children } %>
    <% end %>
    <% posts = Refinery::Blog::Post.joins(:categories).where("refinery_blog_categories.id" => category.id) %>
    <% if posts.present? %>
      <ul>
        <%= render :partial => 'post', :collection => posts %>
      </ul>
    <% end %>
  </ul>
<% end %>
